name: Build/release

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches: [main, master]
  push:
    branches: [main, master]

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5.0.0

      - name: Get latest CMake and ninja
        uses: lukka/get-cmake@f176ccd3f28bda569c43aae4894f06b2435a3375 # latest

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v6
        with:
          # node-version: '24'
          check-latest: true

      - name: Install dependencies
        run: npm ci

      - name: Build Electron app (no publish)
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        env:
          GH_TOKEN: ${{ secrets.github_token }}
        run: npm run release

      - name: Build and publish Electron app
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          GH_TOKEN: ${{ secrets.github_token }}
        run: npx electron-builder -p always
